*
margin: 0;

body {
  font-size: 1.2em;
  justify-content:left;
  background-color: #4087fa;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #004ecb;
  line-height: 3rem;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}

.navbar-toggler {
  border-color: transparent;
  display: none;
}

.nav-link {
  color: #fff;
  margin-right: 0.5rem;
}

header {
   background-color: #4087fa;
   margin: 0;
}


main {
  flex-grow: 1;
  background-color: #4087fa;
}

a {
  text-decoration: none;
}

footer {
  background-color: #0745b8;
  margin: 0%;
  color: #ffffff;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

footer ul li{
    margin-right: 0.8em;
}

footer a {
  color: #fff;
}

footer p {
  color: #fff;
  text-align: center;
}
